* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #584132;

}
.paytone-one-regular {
    font-family: "Paytone One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  h1{font-family: "omnes-cyrillic-semicondensed", sans-serif;
    font-weight: 900;
    font-style: normal;
color: #584132;}
h2{font-family: "omnes-cyrillic-semicondensed", sans-serif;
    font-weight: 900;
    font-style: normal;
color: #584132;}
h3{font-family: "omnes-cyrillic-semicondensed", sans-serif;
    font-weight: 900;
    font-style: normal;
color: #F2EBE8;}
a{
    text-decoration: none;
    color: #F2EBE8;
    font-family: "omnes-cyrillic-semicondensed", sans-serif;
    font-weight: 900;
    font-style: normal;

}

  
@media only screen and (max-width: 600px) {

header{
    display: flex;
    justify-content: center;
   background-image: url(cottonbillder/header.png);
   background-size: cover;
   background-color: #CBC1B5;
}
nav{display: flex;
    align-items: center;
    gap: 5%;

}
.logo{ max-width: 80px;}


.hero{display: flex;
    position: absolute;
    left: 0;
    width: 100%;
    height: 400px;
    background-image: url(cottonbillder/Group\ 59-3.png);
    background-size: cover;
    flex-direction: column;
    min-height: 300px;
    align-items: center;
}
.herotekst{
    display: flex;
    flex-direction: column;
    text-align: right;
    padding-top: 40px;
    
}
.cotton{
    height: 50px;
    width: 200px;
    
}
.intro{position: absolute;
    bottom: 130px;
    right: 0;
    width: 100%;
    height: 550px;
    background-image: url(cottonbillder/Group\ 59.png);
    background-size: cover;
    flex-direction: column;
}
.introtekst{
    display: flex;
    flex-direction: column;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  padding: 20px;
  margin-top: 150px;

}
.valg{
    display: flex;
    bottom: 0px;
    position: absolute;
    left: 0;
    width: 100%;
    height: 200px;
    background-image: url(cottonbillder/Rectangle\ 22.png);
    background-size: cover;
    flex-direction: column;
    

}
.valgtekst{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding-top: 30px;


}
.ikoner{
    display: flex;
   flex-direction: column;
    padding-top: 10px;
}
.ikonn{
    display: flex;
   justify-content: space-around;
}
.ikon{display: flex;
    height: 60px;
    width: 60px;
    padding-left: 15px;
    padding-right: 6px;

}
.cta{ display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: solid#584132;
    background-color: #BBAA99;
    margin-top: 7px;
    
    

}
.eddievideo{height: 500px;}
.backvideo{ position: absolute;
    right: 0;
    top:800px;
    z-index: -1;
   height: 300px;
   width: 100%;
   background-color: #F2EBE8;
   object-fit: cover;
}
/*cotton side */
.herocotton{ display: flex;
    height: 250px;
    width: 100%;
   background-image: url(cottonbillder/Skærmbillede\ 2024-03-18\ kl.\ 20.36.58.png);
   background-color: #F2EBE8;
   background-size: cover;
   background-repeat: no-repeat;
   align-items: center;
   justify-content: end;
   

}
.h1c{ color: #CBC1B5;
    -webkit-text-stroke: 1px #584132;
   }

.herotekstc{ padding-right: 10px;
    text-align: right;

}
.cotondetular{ background-image: url(cottonbillder/Group\ 40.png); 
    background-color: #BBAA99;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    padding: 40px;



}
.cottondetular{ display: flex;
flex-direction: column;
text-align: center;}

.h3c{ font-family: "omnes-cyrillic-semicondensed", sans-serif;
    font-weight: 900;
    font-style: normal;
color: #584132;

}

.grundetilcotton{
    display: flex;
background-color: #F2EBE8;
    background-image: url(cottonbillder/Group\ 59-2.png);
    background-size: cover;
    background-repeat: no-repeat;

}

.grunde{
    display: flex;
    flex-direction: column;
    text-align: center;
padding: 40px;

}
.cottontekst{text-align: left;
padding-top: 20px;
}
.grund{display: flex;
   gap: 30px;
    align-items: center;


}

/*--triks side-- */
.herotriks{ display: flex;
    align-content: center;
    height: 250px;

}
.trikstekst{height: 250px;
    padding: 30px;

}

.backvideo2{position: absolute;
    right: 0;
    top:0;
    z-index: -1;
   height: 400px;
   width: 100%;
   object-fit: cover;
   filter: brightness(70%);}

.triksguide{background-color: #BBAA99;
background-image: url(cottonbillder/Group\ 59-2-kopi.png); 
background-size: cover;
background-repeat: no-repeat;
}

.triksguide2{display: flex;
    flex-direction: column;
    text-align: center;
padding: 40px;

}
.triksguide3{ display: flex;
    gap: 30px;
     align-items: center;}


      /*  kost side */

    .herokost{
height: 250px;
    }
    .kosthero{display: flex;
        align-items: center;
        align-content: center;
        align-self: center;
        justify-content: center;
        justify-self: center;
        justify-items: center;

    }

    .kostimg{max-height: 70px;
        padding-top: 50px;
      

    }
    .backvideo3{ position: absolute;
        right: 0;
        top:0;
        z-index: -1;
       height: 315px;
       width: 100%;
       object-fit: cover;
       filter: brightness(70%);
    
    }
.kostgav{
    background-image: url(cottonbillder/Group\ 40.png); 
    background-color: #BBAA99;
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;
   
}
.kostgav2{display: flex;
    flex-direction: column;
    text-align: center;
padding: 40px;

    }
.kostgav3{display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    

}
.kosttekst{
    text-align: center;
}
.foder{background-color: #F2EBE8;
    background-image: url(cottonbillder/Group\ 59-2.png); 
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;

}
.foder2{padding: 30px;
    padding-top: 50px;

}
.foder3{text-align: center;

}
.pelsogpleje{background-image: url(cottonbillder/Group\ 35.png);
    background-color: #F2EBE8;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;

}
.pogp{display: flex;
    padding: 30px;

}
.pelsimg{
    width: 300px;
    padding: 30px;
}
.pelsogpleje2{padding: 30px;
    text-align: center;
}
.Klipning{background-color: #F2EBE8;
    background-image: url(cottonbillder/Group\ 59-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;

}
.Klipning1{display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    padding-top: 50px;

}
.Klipning2{padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.footerimg{height: 200px;
    background-image: url(cottonbillder/Group\ 66.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top:1000px;
    width: 100%;
    background-color: #F2EBE8;

}
.footertekst{
display: flex;
padding-top: 100px;
padding-left:200px ;
}
footer{
    height: 200px
}
.footerimg2{height: 200px;
    background-image: url(cottonbillder/Group\ 66.png);
    background-size: cover;
    background-repeat: no-repeat;
background-color:#F2EBE8 ;}
.footertekst2{display: flex;
    padding-top: 100px;
    padding-left:200px ;}
   
}

@media only screen and (min-width:600px) and (max-width: 1100px) {
h1{font-size: 60px;}
h2{font-size: 40px;}
h2{font-size: 30px;}
    header{
        display: flex;
        justify-content: center;
       background-image: url(cottonbillder/header.png);
       background-size: cover;
       background-color: #F2EBE8;
    }
    nav{display: flex;
        align-items: center;
        gap: 5%;
    
    }
    .logo{ max-width: 80px;}
    
    
    .hero{display: flex;
        width: 100%;
        background-image: url(cottonbillder/Group\ 59-3.png);
        background-size: cover;
        flex-direction: column;
        min-height: 500px;
        align-items: center;
        background-color: #F2EBE8;
    }
    .herotekst{
        display: flex;
        flex-direction: column;
        text-align: right;
        padding-top: 40px;
        
    }
    .cotton{
        height: 150px;
        width: 300px;
        display: flex;
        align-self: flex-end;
        
    }
    .intro{display: flex;
        width: 100%;
        height: 500px;
        z-index: 1;
        background-image: url(cottonbillder/Group\ 59.png);
        background-size: cover;
        flex-direction: column;
        background-color: #F2EBE8;
    }
    .introtekst{
        display: flex;
        flex-direction: column;
      justify-content: center;
      justify-self: center;
      justify-items: center;
      padding: 20px;
      margin-top: 15px;
      max-width: 500px;
    
    }
    .valg{
        display: flex;
        width: 100%;
        height: 400px;
        background-image: url(cottonbillder/Rectangle\ 22.png);
        background-size: cover;
        flex-direction: column;
        background-color: #F2EBE8;
        justify-content: center;
        
    
    }
    .valgtekst{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        align-items: center;
        padding-top: 100px;
    
    
    }
    .ikoner{
        display: flex;
       flex-direction: column;
        padding-top: 10px;
    }
    .ikonn{
        display: flex;
       justify-content: space-around;
    }
    .ikon{display: flex;
        height: 80px;
        width: 80px;
        padding-left: 15px;
        padding-right: 6px;
    
    }
    .cta{ display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
        border: solid#584132;
        background-color: #BBAA99;
        margin-top: 7px;
        
        
    
    }
    .eddievideo{height: 400px;}
    .backvideo{ display: flex;
        right: 0;
        bottom:0;
       height: 600px;
       width: 100%;
       z-index: -1;
       background-color: #F2EBE8;
       object-fit: cover;
    }
    /*cotton side */
    .herocotton{ display: flex;
        height: 400px;
        width: 100%;
       background-image: url(cottonbillder/Skærmbillede\ 2024-03-18\ kl.\ 20.36.58.png);
       background-color: #F2EBE8;
       background-size: cover;
       background-repeat: no-repeat;
       align-items: center;
       justify-content: end;
       
    
    }
    .h1c{ color: #CBC1B5;
        -webkit-text-stroke: 1px #584132;
       }
    
    .herotekstc{ padding-right: 10px;
        text-align: right;
    
    }
    .cotondetular{ background-image: url(cottonbillder/Group\ 40.png); 
        background-color: #BBAA99;
        background-size: cover;
        background-repeat: no-repeat;
        height: 550px;
        padding: 40px;
        display: flex;
        justify-content: center;
        padding-top: 80px;
        
    
    
    
    }
    .cottondetular{ display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 600px;
  }
    
    .h3c{ font-family: "omnes-cyrillic-semicondensed", sans-serif;
        font-weight: 900;
        font-style: normal;
    color: #584132;
  
    
    }
    
    .grundetilcotton{
        display: flex;
        justify-content: center;
    background-color: #F2EBE8;
        background-image: url(cottonbillder/Group\ 59-2.png);
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 40px;
        padding-bottom: 40px;
      
    
    }
    
    .grunde{
        display: flex;
        flex-direction: column;
        text-align: center;
    padding: 40px;
    max-width: 600px;
    
    }
    .cottontekst{text-align: left;
    padding-top: 20px;
    }
    .grund{display: flex;
       gap: 50px;
        align-items: center;
        padding-top: 40px;
    
    
    }
    
    /*--triks side-- */
    .herotriks{ display: flex;
        align-content: center;
        height: 400px;
    
    }
    .trikstekst{height: 350px;
        padding: 50px;
    
    }
    
    .backvideo2{position: absolute;
        right: 0;
        top:0;
        z-index: -1;
       height: 500px;
       width: 100%;
       object-fit: cover;
       filter: brightness(70%);}
    
    .triksguide{background-color: #BBAA99;
    background-image: url(cottonbillder/Group\ 59-2-kopi.png); 
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    padding-top: 40px;
        padding-bottom: 40px;

    }
    
    .triksguide2{display: flex;
        flex-direction: column;
        text-align: center;
    padding: 40px;
    max-width: 600px;
    
    
    }
    .triksguide3{ display: flex;
        gap: 50px;
         align-items: center;
         padding-top: 40px;}
    
    
          /*  kost side */
    
        .herokost{
     height: 400px;
        }
        .kosthero{display: flex;
            align-content: center;
            align-self: center;
            justify-content: center;
          
    
        }
    
        .kostimg{max-height: 150px;
            padding-top: 50px;
          
    
        }
        .backvideo3{ position: absolute;
            right: 0;
            top:0;
            z-index: -1;
           height: 500px;
           width: 100%;
           object-fit: cover;
           filter: brightness(70%);
        
        }
    .kostgav{
        background-image: url(cottonbillder/Group\ 40.png); 
        background-color: #BBAA99;
        background-size: cover;
        background-repeat: no-repeat;
        height: 80vh;
        padding-top: 40px;
        padding-bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }
    .kostgav2{display: flex;
        flex-direction: column;
    padding: 40px;
    max-width: 600px;
    justify-content: center;
   
    
        }
    .kostgav3{display: flex;
gap: 40px;
        padding-top: 20px;
        padding-bottom: 40px;
        
    
    }
    .kosttekst{max-width: 600px;

    }
    .foder{background-color: #F2EBE8;
        background-image: url(cottonbillder/Group\ 59-2.png); 
        background-size: cover;
        background-repeat: no-repeat;
        height: 500px;

    
    }
    .foder2{padding: 30px;
        padding-top: 50px;

    
    }
    .foder3{
        padding-top: 20px;
        padding-bottom: 20px;
        max-width: 600px;
        
    
    }
    .pelsogpleje{background-image: url(cottonbillder/Group\ 35.png);
        background-color: #F2EBE8;
        background-size: cover;
        background-repeat: no-repeat;
        height: 550px;
    
    }
    .pogp{display: flex;
        padding: 30px;
    
    }
    .pelsimg{
        width: 300px;
        padding: 30px;
    }
    .pelsogpleje2{padding: 30px;
        text-align: center;
    }
    .Klipning{background-color: #F2EBE8;
        background-image: url(cottonbillder/Group\ 59-2.png);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
    
    }
    .Klipning1{display: flex;
        flex-direction: column;
        padding: 30px;
        align-items: center;
        padding-top: 50px;
    
    }
    .Klipning2{padding: 30px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    
    }
    
    .footerimg{height: 400px;
        background-image: url(cottonbillder/Group\ 66.png);
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top:2000px;
        width: 100%;
        background-color: #F2EBE8;
    
    }
    .footertekst{
    display: flex;
    padding-top: 100px;
    padding-left:200px ;
    }
    footer{
        height: 200px;
        width: 100%;
    }
    .footerimg2{height: 400px;
        background-image: url(cottonbillder/Group\ 66.png);
        background-size: cover;
        background-repeat: no-repeat;
    background-color:#F2EBE8 ;
width: 100%;}
    .footertekst2{display: flex;
        padding-top: 100px;
        padding-left:200px ;}
   

}
@media only screen and (min-width:1100px) {
    h1{font-size: 80px;}
    h2{font-size: 60px;}
    h2{font-size: 50px;}
    h3{ font-size: 40px;}
    p{font-size: 30px;}
        header{
            display: flex;
            justify-content: center;
           background-image: url(cottonbillder/header.png);
           background-size: cover;
           background-color: #F2EBE8;
        }
        nav{display: flex;
            align-items: center;
           gap: 100px;
        
        }
        .logo{ max-width: 100px;}
        a{font-size: 40px;}
        
        
        .hero{display: flex;
            width: 100%;
            background-image: url(cottonbillder/hero.png);
            background-size: cover;
            flex-direction: column;
            height: 800px;
            align-items: center;
            background-color: #F2EBE8;
        }
        .herotekst{
            display: flex;
            flex-direction: column;
            text-align: right;
            padding-top: 40px;
            
        }
        .cotton{
            height: 200px;
            width: 400px;
            display: flex;
            align-self: flex-end;
            
        }
        .intro{display: flex;
            justify-content: center;
            padding-left: 200px;
            width: 100%;
            height: 800px;
            z-index: 1;
            background-image: url(cottonbillder/intro.png);
            background-size: cover;
            flex-direction: column;
            background-color: #F2EBE8;
        }
        .introtekst{
            display: flex;
            flex-direction: column;
          justify-content: center;
          padding: 20px;
          margin-top: 15px;
          max-width: 500px;
        
        }
        .valg{
            display: flex;
            width: 100%;
            height: 600px;
            background-image: url(cottonbillder/Rectangle\ 22.png);
            background-size: cover;
            flex-direction: column;
            background-color: #F2EBE8;
            justify-content: center;
            
        
        }
        .valgtekst{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-self: center;
            align-items: center;
            padding-top: 100px;
        
        
        }
        .ikoner{
            display: flex;
           flex-direction: column;
            padding-top: 10px;
        }
        .ikonn{
            display: flex;
           justify-content: space-around;
        }
        .ikon{display: flex;
            height: 200px;
            width: 200px;
            padding-left: 15px;
            padding-right: 6px;
        
        }
        .cta{ display: flex;
            flex-direction: column;
            justify-content: center;
            align-self: center;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 15px;
            padding-right: 15px;
            border: solid#584132;
            background-color: #BBAA99;
            margin-top: 7px;
            
            
        
        }
        .eddievideo{height: 400px;}
        .backvideo{ display: flex;
            right: 0;
            bottom:0;
           height: 600px;
           width: 100%;
           z-index: -1;
           background-color: #F2EBE8;
           object-fit: cover;
        }
        /*cotton side */
        .herocotton{ display: flex;
            height: 700px;
            width: 100%;
           background-image: url(cottonbillder/Skærmbillede\ 2024-03-18\ kl.\ 20.36.58.png);
           background-color: #F2EBE8;
           background-size: cover;
           background-repeat: no-repeat;
           align-items: center;
           justify-content: end;
           
        
        }
        .h1c{ color: #CBC1B5;
            -webkit-text-stroke: 1px #584132;
           }
        
        .herotekstc{ padding-right: 100px;
            text-align: right;
        
        }
        .cotondetular{ background-image: url(cottonbillder/Group\ 40.png); 
            background-color: #BBAA99;
            background-size: cover;
            background-repeat: no-repeat;
            height: 800px;
            padding: 40px;
            display: flex;
            justify-content: center;
            padding-top: 80px;
            
        
        
        
        }
        .cottondetular{ display: flex;
        flex-direction: column;
        text-align: center;
        max-width: 800px;
      }
        
        .h3c{ font-family: "omnes-cyrillic-semicondensed", sans-serif;
            font-weight: 900;
            font-style: normal;
        color: #584132;
      
        
        }
        
        .grundetilcotton{
            display: flex;
            justify-content: center;
        background-color: #F2EBE8;
            background-image: url(cottonbillder/Group\ 59-2.png);
            background-size: cover;
            background-repeat: no-repeat;
            padding-top: 40px;
            padding-bottom: 40px;
          
        
        }
        
        .grunde{
            display: flex;
            flex-direction: column;
            text-align: center;
        padding: 40px;
        max-width: 800px;
        
        }
        .cottontekst{text-align: left;
        padding-top: 20px;
        }
        .grund{display: flex;
           gap: 50px;
            align-items: center;
            padding-top: 40px;
        
        
        }
        
        /*--triks side-- */
        .herotriks{ display: flex;
            align-content: center;
            height: 700px;
        
        }
        .trikstekst{height: 500px;
            padding: 180px;
        
        }
        
        .backvideo2{position: absolute;
            right: 0;
            top:0;
            z-index: -1;
           height: 800px;
           width: 100%;
           object-fit: cover;
           filter: brightness(70%);}
        
        .triksguide{background-color: #BBAA99;
        background-image: url(cottonbillder/Group\ 59-2-kopi.png); 
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        padding-top: 40px;
            padding-bottom: 40px;
    
        }
        
        .triksguide2{display: flex;
            flex-direction: column;
            text-align: center;
        padding: 40px;
        max-width: 800px;
        
        
        }
        .triksguide3{ display: flex;
            gap: 50px;
             align-items: center;
             padding-top: 40px;}
        
        
              /*  kost side */
        
            .herokost{
         height: 700px;
            }
            .kosthero{display: flex;
                align-content: center;
                align-self: center;
                justify-content: center;
              
        
            }
        
            .kostimg{max-height: 250px;
                padding-top: 200px;
              
        
            }
            .backvideo3{ position: absolute;
                right: 0;
                top:0;
                z-index: -1;
               height: 800px;
               width: 100%;
               object-fit: cover;
               filter: brightness(70%);
            
            }
        .kostgav{
            background-image: url(cottonbillder/Group\ 40.png); 
            background-color: #BBAA99;
            background-size: cover;
            background-repeat: no-repeat;
            height: 150vh;
            padding-top: 60px;
            padding-bottom: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
           
        }
        .kostgav2{display: flex;
            flex-direction: column;
        padding: 60px;
        justify-content: center;
        height: 150vh;
       
        
            }
        .kostgav3{display: flex;
    gap: 40px;
            padding-top: 20px;
            padding-bottom: 40px;
            
        
        }
        .kosttekst{max-width: 800px;
    
        }
        .foder{
            display: flex;
            justify-content: center;
        background-color: #F2EBE8;background-color: #F2EBE8;
            background-image: url(cottonbillder/Group\ 59-2.png); 
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
      
    
        
        }
        .foder2{display: flex;
            flex-direction: column;
            text-align: center;
        padding: 40px;
        max-width: 800px;
    
        
        }
        .foder3{
            display: flex;
           gap: 50px;
           flex-direction: column;
            align-items: center;
            padding-top: 40px;
            
        
        }

        /*Pels og pleje side*/

        .pelsogpleje{background-image: url(cottonbillder/Group\ 35.png);
            background-color: #F2EBE8;
            background-size: cover;
            background-repeat: no-repeat;
            height: 900px;
         
            
           
        
        }
        .pogp{display: flex;
            padding: 100px;
        
           
        
        }
        .pelsimg{
            width: 800px;
            padding: 70px;
            padding-left: 30%;
            display: flex;
            justify-content: center;
            align-content: center;
        }
        .pelsogpleje2{padding: 30px;
            text-align: center;
            max-width: 600px;
            padding-left: 30%;
            padding-bottom: 100px;
        
        }
        .Klipning{background-color: #F2EBE8;
            background-image: url(cottonbillder/Group\ 59-2.png);
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            justify-content: center;
        padding-top: 40px;
            padding-bottom: 40px;
        
        }
        .Klipning1{display: flex;
            flex-direction: column;
        padding: 40px;
        max-width: 800px;
        }
        .Klipning2{display: flex;
            gap: 50px;
        padding: 40px;
       
            
        
        }
        .klipningtekst{
            display: flex;
            flex-direction: column;
            gap: 50px;
             align-items: center;
             padding-top: 40px;
        }
        
        .footerimg{height: 800px;
            background-image: url(cottonbillder/Group\ 66.png);
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            top:2800px;
            width: 100%;
            background-color: #F2EBE8;
        
        }
        .footertekst{
        display: flex;
        padding-top: 100px;
        padding-left:200px ;
        }
        footer{
            height: 800px;
            width: 100%;
        }
        .footerimg2{height: 800px;
            background-image: url(cottonbillder/Group\ 66.png);
            background-size: cover;
            background-repeat: no-repeat;
        background-color:#F2EBE8 ;
    width: 100%;}
        .footertekst2{display: flex;
            padding-top: 100px;
            padding-left:200px ;}
       
    
    }